<div class="pt-5 vh-100 text-center">
  <h2 class="fw-bold fs-40 text-navy pt-5 mt-5">CONTACT SECTION</h2>
  <div class="text-navy">
    <router-outlet></router-outlet>
  </div>
  <form class="mx-auto text-start w-50 mt-5 pt-5">
  <div class="mb-5">
    <input type="text" class="form-control border-0 border-bottom rounded-0 shadow-none" placeholder="userName">
  </div>
  <div class="mb-5">
    <input type="number" class="form-control border-0 border-bottom rounded-0 shadow-none" placeholder="userAge">
  </div>
  <div class="mb-5">
    <input type="email" class="form-control border-0 border-bottom rounded-0 shadow-none" placeholder="userEmail">
  </div>
  <div class="mb-5">
    <input type="password" class="form-control border-0 border-bottom rounded-0 shadow-none" placeholder="userPassword">
  </div>
  <div class="text-start">
    <button type="submit" class="btn text-white bg-green border-0 py-2">send Message</button>
  </div>
</form>


</div>
