<div class="bg-green text-white pt-5 vh-100 d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="fw-bold fs-40">ABOUT COMPONENT</h2>

    <div class="text-white">
        <router-outlet></router-outlet>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 d-flex justify-content-center mb-4 mb-md-0">
        <p class="px-4 text-start">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 d-flex justify-content-center">
        <p class="px-4 text-start">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</div>
